.text-measurer
	position: fixed
	visibility: hidden
	padding-inline: 1ch

	.text-measurer-baseline
		display: inline-block

	.text-measurer-baseline, .text-measurer-text
		vertical-align: middle
		white-space: nowrap